<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Bienvenido</title>
</head>
<style>
table{
border: 1px solid black;
}
td{
border: 1px solid black;
}
</style>
<body>
	{{^usuarioSesion}}
	
<a href ="/login" >Log in</a>
	<p>
		<a href ="/usuarios/alta/" >Nuevo usuario</a>
		</p>
	{{/usuarioSesion}}

{{#usuarioSesion}}
<p>
Bienvenido {{usuarioSesion.nombre}}

</p>
<table>
<tr>
<td>
	<a href ="/usuarios/" >Ver usuarios</a>
	</td>
<td>
	<a href ="/actividades/alta/" >Nueva actividad</a>
	</td>

<td>
	<a href ="/actividades" >Ver actividades</a>
	</td>
<td>
	<a href ="/logout" >Log out</a>
	</td>
</tr>


</table>
{{/usuarioSesion}}
</body>
</html>