<html>
<body>
	<h1>Actividad {{actividad.nombre}}</h1>
	<p>{{actividad.descripcion}}</p>
	{{#valoracion}}<p>Valoración: {{valoracion}} Estrellas</p>{{/valoracion}}
	{{^valoracion}}<p>Sin valorar</p>{{/valoracion}}
	<table>
	<tr>
	{{#valoracion}}
	<td><a href="{{actividad.id}}/{{usuario.id}}/{{id}}/1">1 Estrella</a></td>
	<td><a href="{{actividad.id}}/{{usuario.id}}/{{id}}/2">2 Estrella</a></td>
	<td><a href="{{actividad.id}}/{{usuario.id}}/{{id}}/3">3 Estrella</a></td>
	<td><a href="{{actividad.id}}/{{usuario.id}}/{{id}}/4">4 Estrella</a></td>
	<td><a href="{{actividad.id}}/{{usuario.id}}/{{id}}/5">5 Estrella</a></td>
	{{/valoracion}}
	{{^valoracion}}
	<td><a href="{{actividad.id}}/{{usuario.id}}/0/1">1 Estrella</a></td>
	<td><a href="{{actividad.id}}/{{usuario.id}}/0/2">2 Estrella</a></td>
	<td><a href="{{actividad.id}}/{{usuario.id}}/0/3">3 Estrella</a></td>
	<td><a href="{{actividad.id}}/{{usuario.id}}/0/4">4 Estrella</a></td>
	<td><a href="{{actividad.id}}/{{usuario.id}}/0/5">5 Estrella</a></td>
	
	{{/valoracion}}
	
	</tr>
	</table>
	<h2>Comentarios</h2>
	{{#comentarios}}
	<p>{{fechaAlta}}</p>
	<p>{{texto}}</p>
	{{/comentarios}}
	<p>
		<form action="" method="post">
		<input type='text' name='idCreador' value='{{usuario.id}}' style='display:none'/>
		<input type='text' name='idActividad'  value='{{actividad.id}}' style='display:none'/>
		<p>Comentario: </p>
		<input type='text' name='texto'/>
		<input type='submit' value='Enviar'/>
		
	</form>
	</p>
	<p><a href="/">Volver al inicio</a></p>
</body>
</html></html>